
body {
  font-family: Arial, sans-serif;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

.btn {
  cursor: pointer;
}




#ecran2,
#ecran3,
#ecran4 {
  display: none;
}

#ecran2.active,
#ecran3.active,
#ecran4.active {
  display: block;
}


.selected {
  background-color: red;
}
  